/* 
https://www.w3schools.com/bootstrap4/bootstrap_templates.asp 
https://blog.hubspot.com/marketing/best-personal-websites
https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to=raphaelgontijolopes@gmail.com
https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&source=mailto&to=jonatadev@gmail.com


https://medium.com/@dan_abramov/why-my-new-blog-isnt-on-medium-3b280282fbae
*/
.jumbotron {
      border-bottom: 0px;
}
li {
      margin: 3px;
}